@import "tailwindcss";

@theme {
  --color-white: #e3e1e1;
  --color-red-50: #ff6669;
  --color-red-100: #ff6669;
  --color-red-200: #ff6669;
  --color-red-300: #ff6669;
  --color-red-400: #ff6669;
  --color-red-500: #ff6669;
  --color-red-600: #ff6669;
  --color-red-700: #ff6669;
  --color-red-800: #ff6669;
  --color-red-900: #ff6669;
  --color-red-950: #ff6669;
  --color-orange-50: #f57f3b;
  --color-orange-100: #f57f3b;
  --color-orange-200: #f57f3b;
  --color-orange-300: #f57f3b;
  --color-orange-400: #f57f3b;
  --color-orange-500: #f57f3b;
  --color-orange-600: #f57f3b;
  --color-orange-700: #f57f3b;
  --color-orange-800: #f57f3b;
  --color-orange-900: #f57f3b;
  --color-orange-950: #f57f3b;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes flipHeads {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(1800deg); } /* 5 spins */
}

@keyframes flipTails {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(1980deg); } /* 5.5 spins, ends on tails */
}

.animate-flip-heads {
  animation: flipHeads 3s ease-out forwards;
}

.animate-flip-tails {
  animation: flipTails 3s ease-out forwards;
}
